#HomePage {
  text-align: center;
}

#searchBar {
  line-height: 0.2;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#searchBtn {
  margin-top: 5px;
  line-height: 0.18;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#loadingScreen{
  position: fixed;
  width: 100%;
  height: 80%;
  background-color: rgb(20, 20, 20);
}

#loadingScreen p{
  line-height: 5;
  font-size: 100%;
}

/* Grocery, Menu and Favorites Pages */
#groceryContainer,
#menuContainer,
#groceryFavsContainer {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

#groceryResults div,
#menuResults div,
#groceryFavsContainer div {
  width: 25%;
}

#groceryResults,
#menuResults,
#groceryFavsContainer,
#menuFavsContainer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1%;
}
#groceryFavsContainer h1,
#menuFavsContainer h1 {
  width: 100%;
  text-align: center;
}

.itemCard {
  width: 25%;
  text-align: center;
}

#menuResults img,
#menuFavsContainer img {
  width: 75%;
  border-radius: 10px;
}

p {
  display: inline-block;
  width: 55%;
}

#progressButtons {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
#progressButtons button {
  margin: auto;
}
